go 1.20

use (
	// Gee Project
	./gee_project

	// Learn Go With Test
	./learn_go_with_test/hello
	./learn_go_with_test/integer
	./learn_go_with_test/iteration
	./learn_go_with_test/array_and_slice
	./learn_go_with_test/struct_and_interface
	./learn_go_with_test/channel_and_select
	./learn_go_with_test/pointer_and_error

	// Leetcode
	./leetcode/top_100_liked
	./leetcode/top_interview_150
	./leetcode_master
	./testbed
)
